<!DOCTYPE HTML>
<html>
<head>
    <title>MeyerApp</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="./js/jquery.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div id="alerts"></div>
        <div class="row">
            <div class="col-xs-4">
                <label for="project">Rubric</label>
                <select class="form-control" id="project">
                <% rubrics.keys.each do |rubric| %>
                    <option><%= rubric %></option>
                <% end %>
                </select>
            </div>
            <div class="col-xs-4">
                <label for="student">Student</label>
                <select class="form-control" id="student"></select>
            </div>
            <div class="col-xs-4">
                <label for="project">Actions</label>
                <div>
                    <button class="btn btn-default" id="synchronize"><i class="fa fa-refresh fa-spin" style="display: none;"></i> Synchronize</button>
                </div>
            </div>
        </div>
        <div id="grading" class="row">
            <div id="rubric" class="col-xs-6">
                <div class="section-title">Rubric</div>
                <% rubrics["project3"]["questions"].each do |question| %>
                    <div id="<%= question["name"] %>-options" class="problem">
                    <div class="name"><%= question["name"] %></div>
                    <div class="reasons">
                    <% if (question.has_key?("issues")) %>
                    <% question["issues"].each_with_index do |issue, index| %>
                        <div class="reason" data-style="<%= issue["style"] %>" data-index="<%= index %>" data-problem="<%= question["name"] %>" data-points="<%= issue["points"] %>">[-<%= issue["points"] %>] <%= issue["reason"] %></div>
                    <% end %>
                    <% end %>
                    </div>
                    </div>
                <% end %>
            </div>
            <div id="report">
                <div class="section-title">Rendered report</div>
                <% rubrics["project3"]["questions"].each do |question| %>
                <div id="<%= question["name"] %>-report" data-points="<%= question["points"] %>">
                    <div class="name"><%= question["name"] %>: <span id="points"><%= question["points"] %></span> / <span><%= question["points"] %></span></div>
                    <div class="reasons"></div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <script>

        function addSuccessAlert(data) {
            var alert = $('<div class="alert alert-success" role="alert"></div>').html(data["email"] + " was successfully synchronized to Google Docs.");
            $('#alerts').hide().html(alert).slideDown();
            setTimeout(function() {
                $('#alerts').fadeOut("slow", function() {
                    $('#alerts').empty();
                });
            }, 5000);
        }

        function recomputePoints() {
            $('div[id$="-report"]').each(function() {
                var _this = $(this);
                var points = parseInt(_this.attr("data-points"));
                _this.find(".reason").each(function() {
                    points -= parseFloat($(this).attr("data-points"));
                });
                if (points < 0) {
                    points = 0;
                }
                _this.find("#points").first().text(points);
            });
        }

        // Something wrong with things with fractional points
        function transferReason(reason) {
            var identifier = reason.attr("data-index")
            var target = "#" + reason.attr("data-problem");
            if (reason.hasClass("enabled")) {
                target += "-options";
                reason.removeClass("enabled");
                var hasInserted = false;
                $(target).find(".reason").each(function() {
                    if ($(this).attr("data-index") > identifier && !hasInserted) {
                        reason.insertBefore(this);
                        hasInserted = true;
                    }
                });
                if (!hasInserted) {
                    $(target).find(".reasons").first().append(reason);
                }
            } else {
                if (reason.attr("data-style") == "true") {
                    target = "#style-report";
                } else {
                    target += "-report";
                }
                $(target).find(".reasons").first().append(reason);
                reason.addClass("enabled");
            }
            recomputePoints();           
        }

        $('.reason').click(function() {
            transferReason($(this));
        });

        $('#synchronize').click(function() {
            var i = $(this).find("i").first();
            i.show();
            synchronizeScores();
        });

        function loadStudents() {
            $('#student').attr('disabled', 'disabled');
            var projectId = $('#project').val();
            $.get('/' + projectId + '/students', function(response) {
                $('#student').empty();
                $.each(response, function(index, student) {
                    $('#student').append($('<option></option>').val(student).html(student));
                });
                $('#student').removeAttr('disabled');
            }, 'json');
        }

        function synchronizeScores() {
            var projectId = $('#project').val();
            var data = {
                email: $('#student').val(),
                payload: {
                    "q1": $("#q1-report").find("#points").text(),
                    "q2": $("#q2-report").find("#points").text(),
                    "q3": $("#q3-report").find("#points").text(),
                    "style": $("#style-report").find("#points").text()  
                }
            };
            $.post('/' + projectId + '/synchronize', data, function(response) {
                var i = $("#synchronize").find("i").first();
                i.hide();
                addSuccessAlert(data);
            });
        }

        $(document).ready(function() {
            loadStudents();
        });

    </script>
</body>
</html>