.container {
  width: 980px; }

#app {
  margin-top: 50px; }

#grading {
  margin-bottom: 40px;
  margin-top: 20px; }

#rubric {
  padding-right: 30px; }

#report {
  margin-left: 540px;
  position: fixed;
  width: 420px; }

.section-title {
  font-size: 20px;
  text-transform: uppercase; }

.name {
  margin-bottom: 10px;
  margin-top: 10px; }

.reason {
  display: block;
  margin-bottom: 10px;
  padding: 2px 2px 2px 10px; }
  .reason:hover {
    background-color: #EEE;
    cursor: pointer; }
